/* =================================
  Base Element Styles
==================================== */

body {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  min-width: 320px;
}

* {
  list-style: none;
  box-sizing: border-box;
  background-color: #fffbfb;
}

.mywork img {
  width: 100%;
}

.profile img {
  width: 70%;
}

.heading-two,
.holla,
.back-up {
  text-transform: uppercase;
}


/* =================================
  Base Layout Styles
==================================== */


/*----- Navigation ------ */

.nav a,
.back-up {
  text-decoration: none;
  color: black;
}

.phone-num a,
.email a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav {
  padding: 10px 0px 5px;
}

.header ul li {
  background-color: white;
  width: 90%;
}

.back-up {
  float: right;
}

.myname {
  float: left;
}



/* =================================
  Media Quieres
==================================== */


@media (min-width: 768px) {



@media (min-width: 1024px) {
